<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="facebook Login  Test Automation Test Suite">


	<test name="facebook Login Test Cases">
	
	
		<classes>
			<class name="com.crm.qa.testcases.FlipkartProdSearchTest"></class>
			
		</classes>
	</test>
</suite>